<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
		<link rel=”stylesheet” href=”https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css”rel=”nofollow” integrity=”sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I” crossorigin=”anonymous”>

    <title>Home</title>
</head>
<body>
		{% include 'navbar.html' %}

    <h1>Welcome to your grocery list</h1>

    <p>What would you like to do?</p>

		{% if "username" in session %}
		    <h1>Welcome, {{ session["username"] }}</h1>
		{% endif %}

		<ul>
				<li><form action="/add_item" method="post">
		        <input type="text" name="item" placeholder="Item">
		        <input type="submit" value="Add a new item">
		    </form></li>

		    <li><form action="/search_item" method="post">
		        <input type="text" name="item" placeholder="Item">
		        <input type="submit" value="Search for an item">
		    </form></li>

		    <li><form action="/list_items" method="post">
		        <input type="submit" value="List all items">
		    </form></li>
		</ul>


    <!-- Check if the user is logged in -->
    {% if "username" in session %}
        <p>You are logged in as {{ session["username"] }}</p>
				<p><a href="/logout">Logout</a></p>
    {% endif %}

		<p><a href="/logout">Logout</a></p>

</body>
</html>
