<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel=”stylesheet” href=”https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css”rel=”nofollow” integrity=”sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I” crossorigin=”anonymous”>

    <title>Login</title>
</head>
    <body>
        {% include 'navbar.html' %}

        <h1>Login</h1>

        <form action="/login" method="post">
            <input type="text" name="username" placeholder="Username">
            <input type="password" name="password" placeholder="Password">
            <input type="submit" value="Login">
        </form>

        <p>Don't have an account? <a href="/register">Register here</a>.</p>

        <!-- Check if the user is logged in -->
        {% if "username" in session %}
            <p>You are logged in as {{ session["username"] }}</p>
            <p><a href="/logout">Logout</a></p>
        {% endif %}

        {% if error %}
            <p>{{ error }}</p>
        {% endif %}
    </body>
</html>
