<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8">
		<link rel=”stylesheet” href=”https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css”rel=”nofollow” integrity=”sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I” crossorigin=”anonymous”>

		<title>About MyApp</title>
	</head>

	<body>
		{% include 'navbar.html' %}

		<h1>About Page</h1>
			<p>Please enjoy this ground-breaking app!</p>

			<p>In order to participate in our thriving online community, users must
				first register on our platform. After signing up, you'll have access to
				a private directory of other community members, making it easier to
				make friends and feel more at home. Our intuitive design makes signing
				up a breeze, so you can start connecting with others who share your
				passions and hobbies right away!</p>

			<p>Join the community today and gain access to a wealth of resources
				designed to help you grow personally and professionally!</p>

			<p>Thanks for using the app!</p>
	</body>
</html>
