<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
		<link rel=”stylesheet” href=”https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css”rel=”nofollow” integrity=”sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I” crossorigin=”anonymous”>

    <title>Home</title>
</head>
<body>
    {% include 'navbar.html' %}

    <p>Welcome to the home page!</p>

    <p>You can log in or register for the app below.</p>

    <a href="/login">Log In</a>
    <a href="/register">Register</a>
</body>
</html>
