<head>
  <style>
    nav {
      background-image: url(/static/images/blood-moon.jpeg);
      background-repeat: no-repeat;
      background-position: center;
    }
  </style>
</head>
<nav class="navbar navbar-default">
	<div class="container-fluid">
		<ul class="nav navbar-nav">
			<li><a href="/home">Home</a></li>
			<li><a href="/cloud">Cloud Services</a></li>
			<li><a href="/ICS">ICS Application</a></li>
			<li><a href="/About">About</a></li>
			<li><a href="/login">Login</a></li>
		</ul>
	</div>
</nav>
